


@media(min-width:768px) and (max-width:1023px){


    .wraps > section:last-child {
        /* height:calc(100vh - 200px);
        padding-top:70px;  */
        box-sizing: border-box;
    }

    .wraps > section:not(.visual) {
        padding-top:70px; 
        box-sizing: border-box;
        background: #fff;
    }
    .wraps{
        height: 100%;
        min-height: 100%;
        /* padding-bottom:200px; */
        box-sizing: border-box;
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        line-height: 70px;
        height: 70px;
        width: 100%;
        overflow: hidden;
        z-index: 999;
        border-bottom:1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
        

        
    }


    /*스크롤 할때 헤더*/

    .down {
        background-color:(255,255,255,0.7);
        border-color:rgba(0,0,0,0.1);
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
        background: #fff;
    }

    header.down > div ul a {
        color: #252525;
    }

    header.down .logo a{
        display:block;
        width:100%;
        height:100%;
        background: url(../img/h_logo_n.svg)no-repeat center / 100%;
    }


    /*헤더*/
    header > div{
        display:flex;
        justify-content: space-between;
        max-width:90%;
        margin:0 auto;
        height:100%;
    }

    header .logo{
        width:12.6rem;
        height:100%;
    }
    header .logo a{
        display:block;
        width:100%;
        height:100%;
        background: url(../img/h_logo_w.svg)no-repeat center / 100%;
    }



    header > div ul {
        display:flex;
    }

    header > div ul a{
        padding:0 20px; 
        display:block; 
        color:#fff;
        font-size:1.4rem;
    }

    #navi li{
        border-bottom:3px solid rgba(165, 152, 186, 0);
        box-sizing: border-box
    }

    #navi li:hover,
    #navi li.on{
        box-sizing: border-box;
        border-bottom:3px solid #16305f;
    }


    /*메인 스크롤 애니메이션*/
    .scroll {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translate(-50%,0);
        z-index: 1;
    
    }

    .scroll_text {
        
        display: block;
        font-weight: 600;
        color: #FFF;
        margin-bottom: 15px;
        font-size:1.8rem;
    }
    .dots {
        width: 2.4rem;
        margin: 0 auto;
        height: 45px;
        position: relative;
    }
    .dots span {
        position: absolute;
        display: block;
        background-color: #fff;
        border-radius: 50%;
        width: 2.4rem;
        height: 24px;
    }
    .dots span:nth-child(1) {
        left: 0;
        top: 0;
        opacity: .1;
        transform: translateY(0px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(2) {
        left: 0;
        top: 0;
        opacity: .3;
        transform: translateY(4px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(3) {
        left: 0;
        top: 0;
        opacity: .5;
        transform: translateY(9px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(4) {
        left: 0;
        top: 0;
        opacity: .7;
        transform: translateY(13px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(5) {
    left: 0;
        top: 0;
        opacity: .8;
        transform: translateY(16px);
        animation: dots1 2s infinite;
    }
    .dots span:nth-child(6) {
        left: 0;
        top: 0;
        opacity: 1;
        transform: translateY(19px);
        animation: dots1 2s infinite;
    }
    @keyframes dots1{
        0%{
        }
        100%{
        transform: translateY(19px);
        }
    }


    /*.visual & #main */


    /* .visual{
        position:relative;
    } */
    .visual .visual_text{
        width: 90%;
        position: relative;
        left: 5%;
        bottom: 489px;
    } 

    .visual .visual_text h3{
            font-size: 3.8rem;
            letter-spacing: 0em;
            line-height: 1.4;
            color: #fff;
            font-weight: 700;
    }

    .visual .visual_text p{
        font-size: 2rem;
        letter-spacing: -0.03em;
        line-height: 1.4;
        color: #fff;
        font-weight: 400;
        margin-top: 30px;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .video_wrap{
        width:100%;
        height:100vh;    
    }

    video{
        width:100%; 
        height:100%;
        object-fit:cover;
    }



    /*.service & #work */

    .service {          
        /* display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction:row-reverse; */
        height:100%;
    } 

    .service ul {
       
        width:100%; 
        display:flex; 
        box-sizing: border-box;
        flex-wrap:wrap;
        justify-content:space-between; 
        margin-top:50px;
    }

    .service ul li {
        width:48.5%; 
        height:300px;
        position:relative; 
        background: #dfeafe; 
        border-radius: 1.8rem;
    }

    .service ul li h3 {
        font-size:2.2rem;
        padding-bottom:.7rem;
    } 

   

    .service ul li:nth-of-type(2n){
        /* margin-top:3%; */
        
        background:#f5f5f5;
    }
    .service ul li:nth-of-type(1),.service ul li:nth-of-type(2){
        /* margin-top:3%; */
        margin-bottom:3%;
    }

    .service ul img{
        width: 100%; 
        height:100px; 
        object-fit: contain;
    }

    .service ul li > div{
        width:84%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align: center;

    }

    .text_group {
        /* text-align:center; */
        font-size :2rem;
    }

    .text_group h2 {
        font-size: 6rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom:7px;
    }
    .text_group p {
        font-size: 1.8rem;
        padding-top:13px;
      
    }

    .text_group h2 span {
        font-weight: 700;
        color: #16305f;
    }



    /*.business & #offer */

    .business{
        position:relative;
    }
    .business .con2_wrap{
        width:100%;
        box-sizing: border-box;
        text-align:center;
        margin:0 auto ;
        background: #eff2f4;
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        padding: 60px 0;
        
    }
    .business .con2_wrap > div{
        background: #eff2f4;

        
    }

    .business div h3{
       
        font-size: 3rem;
        line-height: 1.42;
        font-weight: 600;
        color: #080808;
        letter-spacing: -1.28px;
        text-align: center;
        margin: 20px 0 57px;

    }

    .business div > img{
        width:4rem;
    }

    .business ul{
        display:flex; 
        margin:0 auto;
        align-items: center; 
        justify-content:space-between;
    }

    .business ul li{
        width:13rem;
        height:13rem;
        padding:19.8px 0px;
        border-radius: 30px; 
        box-shadow: 5px 2px 22px -15px;
        background: #fff;
        text-align:center;   
        box-sizing: border-box;
    }


    .business ul li div img{
        width:5rem;
    }

    .business ul li p{
        padding-top:5px;
        color:#080808;
        font-size:1.8rem;
    }



    /*.information & #map */

        
    #map{
        height:calc(100vh - 200px);
        /* position:relative;
        transform: translateY(-200px);
         */
        
    }

    .info {
        text-align: left;
        box-sizing: border-box;            
        
        font-size:2rem;
        padding-top:45px;
        vertical-align: center;

    }
    
    .info > div:first-child {
       
        width:100%;
    }

    .info h2 {
        font-weight: 700; 
        font-size:5.5rem;
    }


    .info .address {
        color: #16305f;
        font-weight: 700;
        padding:3rem 0rem;
    }



    .info > div span {
        font-weight: 700;
    }
    .info > div ul li {
        line-height:1.8;
        font-size:1.8rem;
    }
    
    .info > div p .mini {
        font-size:1.5rem;
    }
    
    /*구글맵*/

    /* #map .map{
        position: relative;
        margin: 0 auto;
        max-width:1025px;
        width:100%;
        max-height:48vh;
        height:100%;
    }
    #map .map > div{
        width:100%;
    }
    #map .map > div iframe{
        position: absolute;
        z-index:1;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    */

    /*카카오맵*/
    .kakaomap{
        position:relative;
        margin:30px auto;
        width:100%;
        height:400px;
        
        
    }

    .kakaomap > .root_daum_roughmap{
        width:100%;
        /* padding-bottom:56.25%; */
        
        height:100%;
    }

    .kakaomap > .root_daum_roughmap .wrap_map{
    position:absolute;
    z-index:1;
    top:0;
    left:0;
        width:100%;
        height:100%;
    }

    .kakaomap .hide {
        display:none;
    }

/*푸터*/
    footer{
        height: 200px;
        /* position : relative;
        transform : translateY(-100%); */
        background:#16305f ;
        padding:29.51px 0;
        box-sizing:border-box;
    }

    .f_wrap{
        max-width:90%;
        margin:0 auto;
        color:#fff;
    }

    .f_wrap  h1 img{
        width:12.6rem;
        margin-bottom:.7vw;
    }

    .f_wrap p{
        display: inline-block;
        margin-right:30px;
        font-weight: 200;
        line-height:1.8;
        letter-spacing: 0.7px;

    }

    .f_wrap p span{
        display: inline-block;
        font-weight:400;
    }

    .f_wrap .copyright{
        display: inline-block;
        color:rgba(0255,255,255,.5);
        font-size:1rem;
        margin-top:10px;
        letter-spacing: 1px;
    }


    /*고정 상단 버튼*/
    .top_btn{
        display:block;
        width:40px;
        height:40px;
        border-radius: 50%;
        box-sizing: border-box;
        text-align: center;
        position: fixed;
        right:2vw;
        bottom:2vw;
        align-items: center;
        background: #fff;
        box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0,0,0,0.2);
        z-index:50;
    }
    .top_btn span{
        line-height:1.9;
    }
    .top_btns{width:20px;}

}
